<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Departamentos</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/departamentos/cadastrar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Novo Departamento</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="listagem">
	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Nome</th>
	                        <th>Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr th:each="d : ${departamentos}">
	                        <td th:text="${d.id}">3</td>
	                        <td th:text="${d.nome}">Administração</td>
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" th:href="@{/departamentos/editar/{id} (id=${d.id})}" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button th:id="${ 'btn_departamentos/excluir/' + d.id }" type="button" class="btn btn-danger btn-sm"
	                            		data-toggle="modal" data-target="#myModal">
	                                <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        
	        <div th:replace="fragmentos/modal :: modal"></div>
	
	    </section>
</body>
</html>		